<html>
  <head>
    <title>WebUSB Serial Sample Application</title>
  </head>


<body>
<script src="/javascripts/index.js" ></script>
 <button id="connect" style="visibility: initial">Connect To WebUSB Device</button>
 <button id="information">Get Device Information</button>
 <br><br><label for="title">Sender: </label> <br>
 <textarea id="editor", rows="25" cols="80" id="source">WebUSB!</textarea>
 <br><button id="submit">Send</button>
 <br><br>
 <label for="title">Receiver: </label> </br>
 <textarea id="output", rows="25" cols="80" id="source"></textarea>
</body>
